node_modules/
dist/

*.class

*.py[cod]

*.log

*.jar

target/
dist/

.idea/

TEST*.xml

.DS_Store

Thumbs.db

*.app
*.exe
*.war

*.mp4
*.tiff
*.avi
*.flv
*.mov
*.wmv


/node_modules
/.pnp
.pnp.js

/coverage

/build

.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
.env

npm-debug.log*
yarn-debug.log*
yarn-error.log*

tsconfig.*.tsbuildinfo
playwright-output

axe-violations.json

test-results
dist